NODE_ENV=development
PORT=4000
DATABASE=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/?retryWrites=true&w=majority&appName=<APP_NAME>
DATABASE_PASSWORD=<your_database_password>


JWT_SECRET=secret-string
JWT_EXPIRES_IN=<time_in_days>d
JWT_COOKIE_EXPIRES_IN=<time_in_days>


EMAIL_HOST=<your_email_host>
EMAIL_USERNAME=<your_email_username>
EMAIL_PASSWORD=<your_email_password>
EMAIL_PORT=<your_email_port>